/* MainLayout.module.css */
.mainWrapper {
  background-color: #f0f3f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  flex: 1;
  width: 100%;
  margin: 0 auto;
}

.sheet {
  border: 1px solid #eee;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  margin-top: 30px;
}

/* On Desktop, increase padding */
@media (min-width: 1024px) {
  .contentContainer {
    padding: 0px 50px 60px 50px;
  }
}
