/* MainLayout.module.css */
.mainWrapper {
  background-color: #f0f3f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px; /* Reduced top padding for mobile */
}

.sheet {
  background: #ffffff; /* Use white for the sheet to contrast with bg */
  padding: 20px 20px;
  border: 1px solid #eee;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
  width: 100%;
  box-sizing: border-box;
}

/* On Desktop, increase padding */
@media (min-width: 1024px) {
  .contentContainer {
    padding: 120px 50px 60px 50px;
  }
  .sheet {
    padding: 60px;
  }
}
