services:
  payload:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./payload.db:/app/database/payload.db
      - ./media:/app/media
    env_file:
      - .env
